@use '../../styles/variables' as vars
@use '../../styles/mixins' as mix

.bundle-discount
  @include mix.section
  padding-top: 2rem
  padding-bottom: 2rem
  background: vars.$color-white

  &__container
    padding: 0 8rem
    @include mix.mobile
      padding: 2rem 1rem !important
      overflow: hidden

  &__list
    display: grid
    grid-template-columns: repeat(2, minmax(0, 1fr))
    gap: 9rem
    @include mix.laptop
        gap: 5rem
    @include mix.tablet
        gap: 2rem
    @include mix.mobile
        grid-template-columns: repeat(1, minmax(0, 1fr))

  &__card
    position: relative
    overflow: visible

  &__card-inner
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1.5rem 4.8rem
    overflow: hidden
    border: 0.1rem solid vars.$color-sublightgrey
    border-radius: 1.2rem
    background: vars.$color-white
    @include mix.tablet
        padding: 1.5rem
    @include mix.mobile
        padding: 1.5rem 4.8rem

  &__text
    position: relative
    z-index: 2

  &__title,
  &__subtitle
    margin: 0
    font-family: "Montserrat"
    color: vars.$color-primary
    font-weight: 500
    font-size: 2.2rem
    @include mix.tablet
        font-size: 1.8rem
    @include mix.mobile
        font-size: 2.2rem

  &__visual
    position: relative
    display: flex
    align-items: center
    justify-content: center
    min-width: 13rem

  &__image
    position: relative
    z-index: 1
    width: 16rem
    height: 9rem
    object-fit: contain
    @include mix.laptop
        width: 13rem
    @include mix.mobile
        width: 20rem
        height: 11rem
    @include mix.mobile-s
        width: 15rem
        height: 8rem

  &__badge
    position: absolute
    z-index: 2
    top: 1rem
    right: -10rem
    width: 17.5rem
    padding: 0.4rem 0
    transform: rotate(45deg)
    background: linear-gradient(135deg,#B62222 40%, #E76B6B 100%, #FF2F2F 55%)
    color: vars.$color-white
    font-size: 1.2rem
    text-align: center
    text-transform: uppercase
    @include mix.tablet
        right: -8rem
        width: 18.5rem
    @include mix.mobile
        width: 13.5rem

  &__crown
    position: absolute
    z-index: 10
    top: -2rem
    right: -2rem
    width: 5rem
    height: auto
    transform: rotate(5deg)
    pointer-events: none
    user-select: none

