@use './variables' as vars

@mixin section($padding: 3.2rem)
    padding: $padding 0

@mixin flex-center
    display: flex
    align-items: center
    justify-content: center

@mixin flex-between
    display: flex
    align-items: center
    justify-content: space-between

@mixin flex-column
    display: flex
    flex-direction: column

@mixin grid($columns, $gap: 2rem)
    display: grid
    grid-template-columns: repeat($columns, 1fr)
    gap: $gap

// ---------- BREAKPOINTS ----------

@mixin desktop
    @media (max-width: 1200px)
        @content

@mixin laptop-big
    @media (max-width: 1140px)
        @content

@mixin laptop
    @media (max-width: 1024px)
        @content

@mixin laptop-s
    @media (max-width: 952px)
        @content

@mixin tablet
    @media (max-width: 768px)
        @content

@mixin mobile
    @media (max-width: 576px)
        @content

@mixin mobile-sm
    @media (max-width: 480px)
        @content

@mixin mobile-s
    @media (max-width: 350px)
        @content

@mixin big-screen
    @media (min-width: 1680px)
        @content
