$color-primary: #FF6B35

$color-primary-light: #FFEDE2
$color-white: #FFFFFF
$color-black: #1A1A1A
$color-lightgrey: #FAFAFA
$color-sublightgrey: #E1E1E1
$color-darkgrey: #797979

$radius-sm: .8rem
$radius-md: 1.2rem

$shadow-card: 0 .4rem 2rem rgba(0, 0, 0, .08)